#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 40px);
    height: 78px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    /*filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 1px 1px rgba(148, 193, 207, 0.75));*/
}

@media(min-width: 530px) {
    #menu {
        width: calc(100vw - 20px);
        padding-left: 10px;
        padding-right: 10px;
    }
}

#button-container{
    display: flex;
    gap: 5px;
}

#menu .logo-container {
    width: 68px;
    height: 68px;
}