.primary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 34px;
    background-color: #2CCCFF;
    border-radius: 5px;
    text-decoration: none;
    color: #1F4E5C;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #2CCCFF;
    font-family:'Poppins', 'Arial';
    box-sizing: border-box;
}

.primary-btn:hover{
    background-color: #27b4e3;
}

button .primary-btn{
   width: 100px;
   height: 34px;
}