
#addCommentBoxContainer{
    width: 40%;
    height: 15%;
    margin-top: 1%;
    margin-bottom: 2em;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: inline-block;

}

#addCommentBox {
    border-radius: 5px;
    height: auto;
    width: 100%;
    height: 100%;
    resize: none;
    border: 3px solid grey;
    outline: none;
  
}

@media only screen and (max-width:480px) {
    #addCommentBoxContainer{
     width: 85%;
    
    }
}

#addCommentBox:focus {
    border: 3px solid #8ECEC2;
}

#sendMessageBtn {
    
    margin-left: 1%; 
}


