
#addCommentBoxContainer{
    width: 40%;
    height: 15%;
    margin-top: 1%;
    margin-bottom: 2em;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: inline-block;

}

#addCommentBox {
    border-radius: 5px;
    height: auto;
    width: 85%;
    height: 100%;
    resize: none;
    border-color: rgb(149, 232, 217);
     filter: drop-shadow(0px 8px 8px rgba(149, 232, 217, 0.8));
    outline: none;
    padding: 10px;
}
@media only screen and (max-width:480px) {
    #addCommentBoxContainer{
     width: 80%;
    
    }
}

#addCommentBox:focus {
    border: 3px solid #8ECEC2;
}

#sendMessageBtn {
    height: 20px;
    width: 60px;
    margin-left: 1%; 
    color:#2CCCFF

}


