
#addCommentBoxContainer{
    width: 40%;
    height: 15%;
    margin-top: 1%;
    margin-bottom: 2em;
    display: inline-block;

}

#addCommentBox {
    border-radius: 5px;
    height: auto;
    width: 80%;
    height: 100%;
    resize: none;
    border-color: rgb(149, 232, 217);
     filter: drop-shadow(0px 8px 8px rgba(149, 232, 217, 0.8));
    outline: none;
}

#addCommentBox:focus {
    border: 3px solid #8ECEC2;
}

#sendMessageBtn {
    height: 20px;
    width: 60px;
    margin-left: 1%;
    
}


