#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #95E8D9;
    border-radius: 10px;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.25));
    
}
input{
  border-color: black;  
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  
}


p{
    color:black;
    font-weight: bold;
    font-size: large;
    margin-right: 70%;
}
p1{
    color:black;
    font-weight: bold;
    font-size: large;
}
p2{
    color:black;
    font-weight: bold;
    font-size: large;
}
inputDescription{
    border-color: black;  
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}
