#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #95E8D9;
    border-radius: 10px;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.25));
    
}
@media only screen and (max-width:912px) {
    #card{
     width: 75%;
    }
    input{
        width: 80%;
    }
    #inputDescription{
        width: 80%;
    }
    
}
input{
   
    border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  outline: none;
}


input:focus {
  border: 3px solid  #8ECEC2;
 
}

#log-in{
    color:black;
    font-weight: bold;
    font-size: large;
    padding-right: 140px;
    
}
p1{
    color:black;
    font-weight: bold;
    font-size: large;
   padding-top: 10px;
}
p2{
    color:black;
    font-weight: bold;
    font-size: large;
}
#inputDescription{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    resize: none;
     border: none;
     outline: none;
     height: 70px;
}

#inputDescription:focus{
      border: 3px solid  #8ECEC2;
}

#button-container{
    display: flex;
    gap: 5px;
}




