
#commentContainer{
  width: 40%;
  max-height: 38%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
  background-color: rgba(149, 232, 217, 0.22);
  border-radius: 5px;
  padding: 10px;
  margin-top: 1em;
}
@media only screen and (max-width:480px) {
       #commentContainer{
        width: 75%;
       }
}


.container {
    /* background-color: rgba(149, 232, 217, 0.22);
    border-radius: 5px;
    padding: 10px;
    margin-top: 1em; */
    width: fit-content;
    height: fit-content;
}

div {
    display: block;
}

.container img {
  float: left;
  max-width: 36px;
  width: 20%;
  margin-right: 40px;
  border-radius: 50%;
}

.time-left{
  float: left;
  color: rgb(243, 212, 104);
  margin-left: 0.5em;
  font-weight: bold;
}



.container::after {
  content: "";
  clear: both;
  display: table;
}


.container p {
  font-weight: bolder;
  overflow-x: hidden;
  color: #1F4E5C;
  overflow-wrap: break-word;
  margin-right: 10px;
}