#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 72px;
    background-color: gray;
    box-shadow: 10px;
}

#logo{
    width: 68px;
    height: 68px;
}
