#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 10px);
    height: 78px;
    background-color: white;
    box-shadow: 10px;
    padding-left: 5px;
    padding-right: 5px;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

#button-container{
    display: flex;
    gap: 5px;
}
