#secondary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 34px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: #1F4E5C;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #1F4E5C;

}