#sight{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 333px;
    height: 274px;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.25));
    position: relative;
}

#likesContainer {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 15%;
    justify-content: space-between;
}

#likesUpContainer {
    display: flex;
    width: 20%;
    margin-left: 10px;

}

#likesDownContainer {
    display: flex;
    width: 20%;
    margin-right: -2%;
}

#likesUpContainer img, #likesDownContainer img{
    height: 100%;
}

