#sight{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 40%;
    height: 274px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.25));
    position: relative;
}

#likesContainer {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 15%;
    justify-content: space-between;
}

#likesUpContainer {
    display: flex;
    margin-left: 1%;
}

#likesDownContainer {
    display: flex;
    margin-right: 1%;
}

#likesDownContainer p {
}

#likesUpContainer p {
}


#likesUpContainer img, #likesDownContainer img{
    height: 60%;
    margin-top: 10px;
}

