html,body{
    overflow-y: hidden;
}

#bg{
    position: absolute;
    bottom: 0;
    width: 110vw;
    z-index: -1;
}

#page{
    height: calc(100vh - 78px);
    overflow-y: hidden;
}

#search{
    width: 50vw;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #DAECE9;
    border: none;
    color: #002F3E;
    font-size: 12px;
}

#search-results{
    margin-top: 20px;
    background-color: #95E8D9;
    padding: 10px;
    width: 50vw;
    border-radius: 10px;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.25));

}

.link{
    text-decoration: none;
    color: #002F3E;
}
