html,body{
    overflow-y: hidden;
}

#bg {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

@media (orientation: landscape) {
    #bg {
        height: 70vh;
        width: 113vw;
    }
}

@media (orientation: portrait) {
    #bg {
        height: 48vh;
        width: 119vw;
    }
}

#page{
    height: calc(100vh - 78px);
    overflow-y: hidden;
}

#search-bar-container{
    display: flex;
    justify-content: space-between;
    background-color: #DAECE9;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 50vw;
}

@media only screen and (max-width:480px) {
    #search-bar-container{
        display: flex;
        justify-content: space-between;
        background-color: #DAECE9;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px;
        width: 80vw;
    }
}

#search{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #002F3E;
    font-size: 12px;
}

#search:focus{
    outline: none;
}

#search-btn{
    padding: 10px;
    font-size: 12px;
    background-color: #95E8D9;
    color: #002F3E;
    text-decoration: none;
    border-radius: 10px;
}

#search-btn:hover{
    background-color: #86d2c4;
}

#search-results{
    margin-top: 20px;
    background-color: #95E8D9;
    padding: 10px;
    width: 50vw;
    border-radius: 10px;
    filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.25));

}
.link{
    text-decoration: none;
    color: #002F3E;
}

