html, body{
    padding: 0;
    margin: 0;
}
h1,h2{
    color: #2CCCFF;
}
#sights{
    font-weight: bold;
}


#page{
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#logo{
    width: 68px;
    height: 68px;
}

