html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    overflow-x: hidden;

}
h1,h2{
    color: #2CCCFF;
}
#sights{
    font-weight: bold;
}


#page{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
#searchBar {
    width: 500px;
}

#logo{
    width: 68px;
    height: 68px;
}
.logoClass{
    position: absolute;
    top: 5px ;
    left: 5px;
}

#search-table{
    width: 100%;
    padding: 20px;
    width: 70vw;
}

.link{
    text-decoration: none;
    color: #002F3E;
}
#bg {
    position: absolute;
    bottom: 0;
    z-index: -1;
}
@media (orientation: landscape) {
    #bg {
        height: 70vh;
        width: 113vw;
    }
}

@media (orientation: portrait) {
    #bg {
        height: 48vh;
        width: 119vw;
    }
}
@media only screen and (max-width:768px) {
    #bg {
        height: 63vh;
        width: 119vw;
        overflow-y: hidden;
    }
    
}

