html, body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
h1,h2{
    color: #2CCCFF;
}
#sights{
    font-weight: bold;
}


#page{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
#searchBar {
    width: 500px;
}

#logo{
    width: 68px;
    height: 68px;
}
.logoClass{
    position: absolute;
    top: 5px ;
    left: 5px;
}

#search-table{
    width: 100%;
    padding: 20px;
    width: 70vw;
}

.link{
    text-decoration: none;
    color: #002F3E;
}

