html, body{
    padding: 0;
    margin: 0;
    background-color: #DAECE9;
}
h1,h2{
    color: #2CCCFF;
}
#sights{
    font-weight: bold;
}


#page{
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#button{
    width: 120px;
}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: #DAECE9;
    box-shadow: 10px;
}

